@import '../../var.css';


.main {
    margin: 25px 25px;
    padding: 10px 10px;

}
.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.item {
    list-style: none;
}

.item img {
    width: 40px;
    height: 40px;
}

.item a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.texto {
    color: var(--color-texto);
    font-size: 15px;
    text-transform: uppercase;
}

@media only screen and (min-width: 1023px) {
    .contenedor .item:nth-child(1) {
        display: none;
    }

    .item img {
        width: 60px;
        height: 60px;
    }

    .texto {
        font-size: 25px;
    }
}
