@import '../../var.css';

/*Celular*/
.footer {
    display: flex;
    align-items: center;
    height: 21vh;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
    background-color: #361916;
    color: #ddd0ce;
}

.footer__map{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    background-color: transparent;
}

.footer__map iframe {
    width: 90%;
    height: 19vh;
    border-radius: 0.2rem;
    margin: auto;
    background-color: #361916;
}
.footer__info {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}

.footer__info > img {
    height: 4rem;
    width: 4rem;
    background-color: transparent;
    margin-bottom: 0;
}

.footer__info h1,
.footer__info h3,
.footer__info h2 {
    text-align: center;
    background-color: transparent;
    font-family: var(--fuente-principal);
    font-weight: lighter;
    font-size: 1.5rem;
}

.footer__info h2 {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8rem;
}


.footer__info h1 {
    margin-bottom: 0.5rem;
}

.footer__info__contact {
    
    background-color: transparent;
    margin-top: 1rem;
    display: none;
}

.footer__info__contact__number a,
.footer__info__contact a {
    text-decoration: none;
    color: #ddd0ce;
    font-size: 1.3rem;
    margin: 0;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__info__contact__number a{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    align-items: center;
    
}

.footer__info__contact svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;
    background-color: transparent;
    fill: #ddd0ce;
    cursor: pointer;
}


/*Tablet*/
@media only screen and (min-width: 768px) {

}

/*Escritorio*/
@media only screen and (min-width: 1024px) {
    .footer {
        height: 50vh;
    }

    .footer__info > img {
        height: 12%;
        width: 12%;
        background-color: transparent;
        margin-bottom: 0;
    }

    .footer__map iframe {
        height: 45vh;
    }

    .footer__info h1,
    .footer__info h3 {
        font-size: 3rem;
    }
    
    .footer__info__contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__info__contact h3 {
        padding-bottom: 10%;
    }

    .footer__info h2 {
        font-size: 2.2rem;
    }

    .footer__info__contact__number a,
    .footer__info__contact a {
        font-size: 1.7rem;
    }

    .footer__info__contact__number a {
        font-size: 2rem;
    }

    .footer__info__contact svg {
        width: 2rem;
        height: 2rem;
    }

}