
@font-face {
    font-family: 'Deutschlands';
    src: url(../fonts/Deutschlands.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f0dcba;
}

.navbar {
    padding: 1rem 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #361916;
    margin: 0 1rem;
}

.nombre {
    font-family: 'Deutschlands';
    font-size: 4.5rem;
    font-weight: lighter;
    color: #ddd0ce;
}

.navbar > img {
    height: 100px;
}

nav, nav ul, nav li, nav a {
    margin: 0 0;
    padding: 0;
    list-style: none;
    font-size: 2.5rem;
}