@import '../../var.css';

.contenedor{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenedorPlatillos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

.tituloCategoria{
    align-self: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) {
    .tituloCategoria{
        font-size: 30px;
    }

    .contenedorPlatillos{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
        gap: 20px; /* Espacio entre las imágenes */
        margin-inline: 90px;
    }
}