@import '../../var.css';

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 20px;
    gap: 15px;
}

.tituloCategoria{
    align-self: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
}

@media only screen and (min-width: 1024px) {
    
}