@import '../../var.css';

.contenedor {
    display: flex;
    flex-direction: row;
    padding: 10px 10px; 
    gap: 25px;
}

.informacionContenedor{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.informacionContenedor p{
    color: var(--color-texto);
    font-weight: bold;
}

.informacionContenedor h2{
    color: var(--color-texto);
}

img {
    border-radius: 20px;
    height: 160px;
    width: 150px;
}