@import '../../var.css';

.body {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nombre {
    font-family: var(--fuente-principal);
    font-size: 3rem;
    color: #361916;
}

.logo {
    height: 5rem;
    width: 5rem;
}

.description {
    font-weight: bold;
    color: #361916;
    ;
    text-align: center;
    padding: 2rem 2rem;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 25px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 5rem;
}

.button img {
    width: 3rem;
    height: 3rem;
}

.button a {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #361916;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.platillo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.platillo img {
    width: 90%;
    height: auto;
    margin-bottom: 2.5%;
    border-radius: 4px;
    max-height: 14rem;
    object-fit: cover;
}

.seccionPlatillo {
    color: #9b3d34;
    font-size: 22px;
    padding-bottom: 2.5%;
}

.subtitle {
    color: #50342d;
    padding-bottom: 3%;
    font-size: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .description {
        padding-inline: 7rem;
    }

    .platillo {
        padding-inline: 4rem;
    }

    .platillo img {
        max-height: 25rem;
        object-fit: cover;
    }
}

@media only screen and (min-width: 1024px) {
    .nombre {
        font-size: 70px;
    }

    .logo {
        width: 9rem;
        height: 9rem;
    }

    .description {
        font-size: 28px;
        padding-inline: 18rem;
        text-align: center;
    }

    .platillo img {
        max-height: 30rem;
        max-width: 60rem;
        object-fit: cover;
    }

    .buttons {
        padding-bottom: 30px;
        font-size: 40px;
    }

    .button a {
        font-size: 40px;
        background: var(--color-botton);
        color: white;
        border-radius: 5px;
        text-decoration: none;
        padding: 10px 20px;
    }

    .button a:hover {
        background-color: #fb708459;
        color: rgb(178, 33, 33);
        transition-duration: 0.4s;
    }

    .subtitle {
        padding-bottom: 10px;
        font-size: 60px;
    }

    .seccionPlatillo {
        font-size: 40px;

    }

    .button img {
        display: none;
    }
}