@import '../../var.css';

/*Celular*/
.navbar {
    display: flex;
    align-items: center;
    height: 12vh;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: #361916;
    margin: 0 1rem;
    font-size: 2rem;
}

.nombre {
    font-family: 'Deutschlands';
    font-size: 2.5rem;
    font-weight: normal;
    color: #ddd0ce;
}

.navbar > img { /*Indica el hijo inmediato*/
    height: 4rem;
    width: 4rem;
    margin-left: 1rem;
}

nav, nav ul, nav li, nav a {
    margin: 0 0;
    padding: 0;
    list-style: none;
    font-size: 2.5rem;
}

nav {
    display: none;
}


@media only screen and (min-width: 768px) { /*Tablet*/
}

@media only screen and (min-width: 1024px) { /*Escritorio*/
    .navbar a {
        font-size: 2.5rem;
    }
    .nombre {
        font-size: 3rem;
    }
    nav {
        display: block;
    }
    .navbar {
        padding-inline: 6rem;
    }
    .navbar > img { /*Indica el hijo inmediato*/
        height: 5rem;
    }
}