@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
    /*Colores*/
    --color-texto: #361916;
    --color-titulos:  #7a0000;
    /* --color-primario: */
    --color-secundario: #ddd0ce;
    --color-bg: #f0dcba;
    --color-botton:  #50964e;
    --fuente-principal: 'Great Vibes', cursive;
}

