:root {
    /*Colores*/
    --color-texto: #361916;
    --color-titulos:  #7a0000;
    /* --color-primario: */
    --color-secundario: #ddd0ce;
    --color-bg: #f0dcba;
    --color-botton:  #50964e;
}

